.par-character-container {
  display: flex;
  align-items: center;
}

.character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.character-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-container img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.play-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-img-container img {
  cursor: crosshair;
  width: 90vw;
}
